<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaz de Empleado</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="/assets/logout.css">
</head>
<body>
    <div class="container">
        <button id="btnDescargarMenu">Descargar Menú</button>
    </div>

    <script>
        document.getElementById('btnDescargarMenu').addEventListener('click', function() {
            window.location.href = '/descargar-menu';
        });
    </script>
    
    <a href="/views/login.html" class="logout">Cerrar sesión</a>

    <div class="container">
        <h1>Pedidos en Curso</h1>
        <table>
            <thead>
                <tr>
                    <th>ID Pedido</th>
                    <th>Descripción</th>
                    <th>Total</th>
                    <th>Estado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody id="pedidos-lista">
                <!-- Pedidos dinámicos -->
            </tbody>
        </table>
    </div>

    <script src="/assets/script/pedido/agregar_pedido.js"></script>
</body>
</html>
